body {
    background-image: url('https://i.postimg.cc/D00ddw3h/Ilustracio-n-sin-ti-tulo.jpg');
    background-position: center;
    background-size: 30%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Anton", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    color: #002888;
    width: 30%;
    text-decoration: underline;
}

h3 {
    font-family: "Playfair Display", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    color: #196E70;
    background-color: #81F7E9;
    border: 5px dotted #00BCC9;
    border-radius: 10px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.4);
    width: 30%;
    padding: 15px 20px;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 20px;
}

.introImg {
    border-radius: 10px;
    max-height: auto;
    height: 80%;
}

#comenzar {
    background-color: #00F2FF;
    color: #002888;
    font-size: 18px;
    font-family: "Anton", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.4);
}

#comenzar:hover {
    background-color: #00C7FF;
    transform: scale(1.05);
}

#preguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.parentC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 80px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.questionC {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.questionC p {
    font-size: 22px;
    font-family: "Playfair Display", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #00F2FF;
    border-radius: 8px;
    color: #002888;
    text-align: center;
    height: auto;
    border: 5px dotted #002888;
    font-weight: bold;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imgContainer img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.opcion {
    width: 100%;
    background-color: #81F7E9;
    color: #196E70;
    font-size: 18px;
    font-family: "Anton", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s;
}

.opcion:hover {
    background-color: #8FFFDF;
    transform: scale(1.05);
}

#resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

#resultado h2 {
    font-family: "Anton", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #002888;
    background-color: #00F2FF;
    padding: 15px 20px;
    display: inline;
    border-radius: 10px;
    margin: 10px auto;
    border: 4px groove #002888;
}

.resultadoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contentR {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
}

#resultado img {
    height: 500px;
    width: 400px;
    border-radius: 10px;
    max-width: 100%;
}

#descripcionPersonaje {
    background-color: #00F2FF;
    color: #002888;
    font-family: "Playfair Display", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.5;
    padding: 15px 20px;
    border: 4px dotted #002888;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.4);
    width: 500px;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 15px;
        gap: 15px;
    }

    h1 {
        font-size: 26px;
        width: 100%;
        padding: 10px 0;
        margin: 0;
        text-align: center;
        height: 100%;
    }

    #inicio {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .introImg {
        max-width: 100%;
        margin: 0 auto;
        border-radius: 10px;
        box-sizing: border-box;
    }

    h3 {
        width: 100%;
        font-size: 22px;
        padding: 10px 0;
        margin: 0;
        text-align: center;
    }

    #preguntas {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 15px;
    }

    .imgContainer img {
        display: none;
    }

    #resultado img {
        max-width: 100%;
        width: 80%;
        max-height: 100%;
        max-height: 60%;
    }
}