body {
    background-image: url('https://i.postimg.cc/D00ddw3h/Ilustracio-n-sin-ti-tulo.jpg');
    background-position: center;
    background-size: 30%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Anton", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    color: #002888;
    width: 30%;
    text-decoration: underline;
}

h3 {
    font-family: "Playfair Display", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    color: #196E70;
    background-color: #81F7E9;
    border: 5px dotted #00BCC9;
    border-radius: 10px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.4);
    width: 30%;
    padding: 15px 20px;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 20px;
}

.introImg {
    border-radius: 10px;
    max-height: auto;
    height: 80%;
}

#comenzar {
    background-color: #00F2FF;
    color: #002888;
    font-size: 18px;
    font-family: "Anton", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.4);
}

#comenzar:hover {
    background-color: #00C7FF;
    transform: scale(1.05);
}

#preguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.parentC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 80px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.questionC {
    flex: 1;
    text-align: left;
}

.questionC p {
    font-size: 22px;
    font-family: "Playfair Display", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #00F2FF;
    border-radius: 8px;
    color: #002888;
    text-align: center;
    height: auto;
    border: 5px dotted #002888;
    font-weight: bold;
}

.imgContainer img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.opcion {
    display: flex;
    flex-direction: column;
    background-color: #81F7E9;
    color: #196E70;
    font-size: 18px;
    font-family: "Anton", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s;
}

.opcion:hover {
    background-color: #8FFFDF;
    transform: scale(1.05);
}